@import "../../assets/styles//variable";
@import "../../assets/styles/mixins";

.site-header {
  border-bottom: 1px solid $border-color;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 111;
  background: $main-white;
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__navbar-nav {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &__logo {
    display: block;
    // width: 40%;
    @include atSmallestScreen {
      width: 30%;
    }
    @include atSmScreen {
      width: 25%;
    }
    @include atMdScreen {
      width: 15%;
    }
    @include atLgScreen {
      width: 15%;
    }
  }
  &__links {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: ease 2s all;
    text-decoration: none;
    @include atLgScreen {
      display: flex;
      align-items: center;
    }
    &.active {
      @include atSmallestScreen {
        opacity: 1;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        flex-direction: column;
        background-color: $background-color;
        z-index: 1;
        min-height: 100vh;
        padding-left: 40%;
        padding-top: 10%;
        // transition: ease 1s all;
      }
      @include atSmScreen {
        opacity: 1;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        flex-direction: column;
        background-color: $background-color;
        z-index: 1;
        min-height: 100vh;
        padding-left: 50%;
        padding-top: 10%;
        transition: ease 1s all;
      }

      @include atLgScreen {
        display: none;
      }
    }
  }
  &__link {
    display: inline-block;
    padding: 16px;
    font-size: 30px;
    font-weight: bolder;
    color: $main-black;
    width: 120px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $golden-color;
    }
    &.active {
      color: $golden-color;
      text-decoration: none;
    }
    @include atXLScreen {
      font-size: 15px;
    }
  }
  &__icons-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  &li {
    display: inline-block;
  }
  &__icons-item {
    font-size: 14px;
    position: relative;
    cursor: pointer;
    right: 0;
    @include atLgScreen {
      display: none;
    }
  }
  &__toggle {
    @include atLgScreen {
      display: none;
    }
  }
}
