@import '../../assets/styles/mixins';
@import '../../assets/styles/variable';
// banner => cover image for any page 
.about-banner{
    min-height: 65vh;
    background-size: contain;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    object-fit: cover;
    @include atSmallestScreen{
        min-height: 20vh;
    }
    @include atSmScreen{
        min-height: 40vh;

    }
    @include atMdScreen{
        min-height: 50vh;

    }
    @include atLgScreen{
        min-height: 65vh;
    }
    @include atXLScreen{
        min-height: 70vh;

    }
}