@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/variable.scss";

.objectDetail {
  width: 90%;
  position: relative;
  border-radius:20px 20px;

  box-shadow: 20px 20px 20px 20px rgba(230, 230, 232, 1);
  @include atSmallestScreen{
    margin-left: 5%;
    width: 90%;

  }
  &:hover {
  #title{
    display: block;
  }
  }
  &__image-container {
    border: 1px solid $border-color;
    border-bottom: none;
    width: 100%;
    border-radius: 20px;



  }
  &__image {
    display: block;
    min-height: 200px;
    object-fit: fill;
    border-radius: 20px;

    // width:100%;

    @include atMdScreen {
      width: 100%;
    }
  }
  &__container {
    display: none;
    position: absolute;
    background-color: $golden-color;
    height: 30px;
    left: 0;
    bottom:0;
    width: 100%;   

  }
 
  &__container-title {
    text-align: center;
    font-weight: bolder;
    align-items: center;
    font-size: 20px;
    color: $main-white;
    text-transform: uppercase;
    font-family: "Arial Narrow Bold";
  }

}
