/*                              *****************************************                                  */
/* -----------------------------|              Component                |----------------------------------*/
/*                              *****************************************                                  */
/* --------------------------------------------NavBar------------------------------------------------------*/
.navBarMainDiv{
    background-color: black;
}
.item{
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
}
.item:hover{
    text-decoration: none;
    color: #5F473D;
}
.navContainer{
    border-bottom: 1px solid black;
}
.active{
    color: #BA8726;
   
}
/* -----------------------------------------------Footer------------------------------------------------------------------ */
.footer-sec{
    background-color: #18191A;
}
.p_header,.p_footer{
    color: white;
    font-size: 80%;
}
.footer_span{
    color:#BA8726;
}
/* -------------------------------------------- Most Wanted Slider ------------------------------------------------------ */
.slid_img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*                              *****************************************                                  */
/* -----------------------------|              PAGES                    |----------------------------------*/
/*                              *****************************************                                  */
/*---------------------------------------------HOME--------------------------------------------------------*/
.allowShine_div{
    background-color: #F6F7F9;
}
@media (max-width:500px){
    .allawShine_h1{
        font-size: 100%;
    }
    .mostWantedHeader{
        font-size: 100%;

    }
}